
	<div class="row">
		<div class="col-7">
			<input type="text" class="form-control" [(ngModel)]='cardsFilter' placeholder="Search"/>
		  </div>
		  <div class="col-3">
			<button type="button" class="btn btn-primary" (click)="addCard()">Add</button>
		  </div>
	</div>
	<div class="row">
		<h5>Resultados: {{filteredCards.length}}</h5>
	</div>
	<div class="row">

		<div class="col-sm-6"  *ngFor='let card of filteredCards'>
			<div class="card" >
				<div class="card-body">
					<div *ngIf="card.showFront">
						<span *ngIf="card.showFront" >{{card.front}}</span>
						<fa-icon [icon]="faArrowRight" class="icon" (click)="toggleShow(card._id)"></fa-icon>
					</div>
					<div *ngIf="!card.showFront">
						<span >{{card.back}}</span>
						<fa-icon [icon]="faArrowLeft" class="icon" (click)="toggleShow(card._id)"></fa-icon>
					</div>
				</div>			
			</div>
		</div>
		
	</div>